.form {

    margin-top: 50px !important;

    & input,
    & textarea,
    & select{
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        color: #fff;
        font-size: 1.1rem;

        &:focus {
            outline: none;
            box-shadow: none;
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }

        &::placeholder {
            color: white;
            opacity: 1;
        }
    }

    & textarea {
        border: 1px solid white;
    }

    & label {
        color: #fff;
        font-size: 1.1rem;
    }

    & h2 {
        font-size: 3rem;
    }

    & p {
        font-size: 1.2rem;
    }

    & a {
        font-size: 1.9rem;
        color:  rgba(248, 149, 32, 1);

        &:hover{
            color:  rgba(248, 149, 32, 1);
        }
    }

}

.map {
    margin-top: 120px;
    margin-bottom: 30px;

    & iframe {
        @media (max-width: 576px) {
            height: 400px;
        }
    }
}