.masonry-grid {
    column-count: 4;
    column-gap: 1rem;
}

.masonry-item {
    break-inside: avoid;
}

.masonry-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    height: 250px;
}


.masonry-item:nth-child(2n) img {
    height: 300px;
}
.masonry-item:nth-child(3n) img {
    height: 350px;
}
.masonry-item:nth-child(4n) img {
    height: 400px;
}

span.numbers{
    color: #F89520;
}

@media (max-width: 991px) {
    .masonry-grid {
        column-count: 3;
    }
}

@media (max-width: 768px) {
    .masonry-grid {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .masonry-grid {
        column-count: 1;
    }
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.lightbox-image {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.lightbox-controls {
    margin-top: 20px;
}
