
.yearsDancing {
    & h2.title {
        font-size: 3rem;
    }

    & p.description {
        font-size: 1.2rem;
    }

}

.danceStyles{
    & p{
        width: 45%;
        @media (max-width: 991px) {
            width: auto;
        }
    }
}

/*.image-grid {*/
/*    margin-top: 70px;*/
/*    margin-bottom: 120px;*/
/*    display: grid;*/
/*    gap: 5px;*/
/*    grid-template-columns: repeat(6, 1fr);*/
/*    grid-auto-rows: 300px;*/
/*    !*background: linear-gradient(90deg, #FB8B01, #76FFA9);*!*/
/*    padding: 5px;*/
/*    grid-template-areas:*/
/*        "item1 item1 item2 item2 item3 item3"*/
/*        "item1 item1 item4 item5 item3 item3"*/
/*        "item6 item7 item7 item5 item8 item8"*/
/*        "item9 item9 item10 item10 item11 item11"*/
/*        "item9 item9 item12 item12 item11 item11";*/
/*}*/

.image-grid {
    margin-top: 70px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 11px;
}

.item {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    p {
        position: absolute;
        bottom: 0;
        left: 20px;
        color: white;
        opacity: 0;
        transition: all 0.4s ease;
        transform: translateY(20px);
    }

    &:hover {
        img {
            transform: scale(1.1);
            z-index: 2;
        }
    }
}


.item img.logo-image{
    height: auto;
    width: auto;
    margin-left: 13px;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
    text-align: center;
    padding: 20px;
    pointer-events: none;
}

.item:hover .overlay,
.item:hover p{
    opacity: 1;
    transform: translateY(0);
}


/*.item1 { grid-area: item1; }*/
/*.item2 { grid-area: item2; }*/
/*.item3 { grid-area: item3; }*/
/*.item4 { grid-area: item4; }*/
/*.item5 { grid-area: item5; }*/
/*.item6 { grid-area: item6; }*/
/*.item7 { grid-area: item7; }*/
/*.item8 { grid-area: item8; }*/
/*.item9 { grid-area: item9; }*/
/*.item10 { grid-area: item10; }*/
/*.item11 { grid-area: item11; }*/
/*.item12 { grid-area: item12; }*/


@media (max-width: 1200px) {
    /*.image-grid {*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*    grid-template-areas:*/
    /*        "item1 item1"*/
    /*        "item2 item2"*/
    /*        "item3 item3"*/
    /*        "item4 item4"*/
    /*        "item5 item5"*/
    /*        "item6 item6"*/
    /*        "item7 item7"*/
    /*        "item8 item8";*/
    /*}*/
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}