.carousel-control-next {
    right: -100px !important;

}

.carousel-control-next-icon{
    background-image: url("../../public/images/arrow-right.png")!important;
    height: 2.8rem!important;
}

.carousel-control-prev {
    left: -100px !important;
}
.carousel-control-prev-icon{
    background-image: url("../../public/images/arrow-left.png")!important;
    height: 2.8rem!important;
}

#testimonialCarousel h3 {
    font-size: 2.3rem;
    @media (max-width: 991px) {
        font-size: 1.5rem;
    }
}


@media (max-width: 991px) {
    .carousel-control-next {
        right: 0 !important;
    }

    .carousel-control-prev {
        left: 0 !important;
    }

}

.arrows {
    color: rgba(248, 149, 32, 1);
    font-size: 1.3rem;
}