.customLink {
    position: relative;
    overflow: hidden;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #FB8B01 0%, #76FFA9 100%);
    border-image-slice: 1;
    padding: 15px 45px;
    margin-top: 20px;
    background-color: transparent;
    color: green;
    z-index: 1;
    cursor: pointer;
    transition: color 0.5s ease;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient(90deg, #FB8B01 0%, #76FFA9 100%);
        z-index: -1;
        transition: width 0.5s ease;
    }

    &:hover::before {
        width: 100%;
    }

    &:hover {
        color: black!important;
        font-weight: bold;
    }
}