.logos {
    & img {
        height: 30px;
    }
}


.footerLogo {
    width: 100%;
    @media (max-width: 991px) {
        width: 40%;
    }

    @media (max-width: 576px) {
        width: 60%;
    }
}


.footer{
    & h4{
        font-size: 2rem;
        @media (max-width: 991px) {
            font-size: 1.5rem;
        }
    }

    & a {
        font-size: 1.1rem;
        margin: 5px 0;
        @media (max-width: 991px) {
            font-size: 1rem;
        }
    }
}