
.footerLogo {
    width: 100%;
    @media (max-width: 991px) {
        width: 40%;
    }

    @media (max-width: 576px) {
        width: 60%;
    }
}


.footer{
    & h4{
        font-size: 2rem;
        color: rgba(248, 149, 32, 1);
        @media (max-width: 991px) {
            font-size: 1.5rem;
        }
    }

    & a {
        font-size: 1.1rem;
        margin: 5px 0;
        @media (max-width: 991px) {
            font-size: 1rem;
        }
    }
}

 .footerNavbarLinks li a {
    position: relative;
    color: white;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        left: 10%;
        bottom: -3px;
        width: 0%;
        height: 2px;
        background-image: linear-gradient(90deg, #FB8B01, #76FFA9);
        transition: width 0.4s ease;
    }

    &:hover::after {
        width: 80%;
    }
}

.aboveFooter{
    & a:hover{
        color: rgba(248, 149, 32, 1)!important;
    }

    & img.icon{
        width: 23px;
        vertical-align: middle;
    }
}