.mobile-slides {
    & h3{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        z-index: 222;
    }

    & a{
        color: white;
    }
}