.logosRow{
    background-image: url("../../public/images/row-logo.png");
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-bottom: 120px;
    margin-top: 140px;
}