@media screen and (min-width: 576px) {
    .hamburger,
    .menu-overlay {
        display: none !important;
    }
}

.hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    z-index: 9999;
    /*position: absolute;*/
    top: 20px;
    left: 20px;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9998;
    overflow: hidden;
}

.menu-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    transition: transform 0.3s ease;

    & a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 300;
    }

    & button{
        background: transparent;
        color: white;
        border: none;
        padding: 0;
    }

    & ul{
        list-style: none;
        padding: 0;
        position: relative;

        &::after, &::before {
            background: linear-gradient(135deg, #f89520, #2da549);
            bottom: -10px;
            content: "";
            height: 2px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 95%;
            }

        &::before {
            top: -10px;
        }

        & li {
            margin: 13px 0;
            border-bottom: 1px solid #282828;
            padding-bottom: 13px;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.main-panel {
    left: 0;
    transform: translateX(0);
}
.main-panel.slide-left {
    transform: translateX(-100%);
}

.sub-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #111;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    overflow-y: scroll;
}

.sub-panel.slide-in {
    transform: translateX(0);
}


.close-btn,
.back-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.back-btn {
    font-size: 1.1rem;
    border-bottom: 1px solid #282828!important;
    color: #565656!important;
}

.menu-item-with-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title {
    flex: 1;
    text-align: left;
    text-decoration: none;
    color: #000; /* adjust */
}

.submenu-arrow {
    background: none;
    font-size: 2rem!important;
    cursor: pointer;
    padding: 0 0.5rem;
    color: #000;
}

img.icon-phone{
    width: 35px;
}

