#mynavbar ul {
    width: auto;
    margin: auto;
}

ul li {
    margin-left: 25px;
    font-size: 1.2em;
}

.mobile a {
    color: rgba(248, 149, 32, 1) !important;
    font-size: 1.2em;

    &:hover {
        color: #2DA549 !important;
    }

    & img.icon {
        width: 23px;
    }
}


.navbarLinks::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 96%;
    background: linear-gradient(135deg, #F89520, #2DA549);
}

.navbarLinks ul li a {
    position: relative;
    color: white;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        left: 10%;
        bottom: -3px;
        width: 0%;
        height: 2px;
        background-image: linear-gradient(90deg, #FB8B01, #76FFA9);
        transition: width 0.4s ease;
    }

    &:hover::after {
        width: 80%;
        @media (max-width: 1200px) {
            width: 0;
        }
    }

}


@media (max-width: 1200px) {
    #mynavbar ul {
        width: inherit;
        margin: inherit;
        padding-left: 20px;
        position: relative;
    }

    #mynavbar ul::after,
    #mynavbar ul::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 95%;
        background: linear-gradient(135deg, #F89520, #2DA549);
    }

    #mynavbar ul::before {
        top: -10px;
    }

    .navbarLinksNavbar {

        & ul li a{
            font-size: 1.8rem!important;
            font-weight: 300;
            border-bottom: 1px solid #282828;
        }

        & .navbar-collapse {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #000;
            z-index: 9999;
            padding: 2rem 1rem;
            overflow-y: auto;
        }

        & .navbar-collapse.show {
            display: flex !important;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
        }

        & .navbar-nav {
            flex-direction: column;
            width: 100%;
        }

        & .navbar-nav .nav-item {
            width: 100%;
            margin-left: 0;
            margin-bottom: 1rem;
        }

        & .navbar-nav .nav-link {
            font-size: 1.5rem;
            padding: 0.5rem 1rem;

        }

        & .mobile {
            margin-top: 40px;
            width: 100%;
            padding-left: 30px;
            font-size: 1.4rem;

            & img{
                width: 30px!important;
            }
        }
    }
}


.navbar-toggler:focus{
    outline: 0;
}

.navbar-toggler {
    position: relative;
    width: 30px;
    height: 24px;
    border: none!important;
    background: transparent;
    outline: none;
}

.navbar-toggler .navbar-toggler-icon {
    display: none;
}

.navbar-toggler::before,
.navbar-toggler::after,
.navbar-toggler span {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
}

.navbar-toggler::before {
    top: 0;
}

.navbar-toggler span {
    top: 10px;
}

.navbar-toggler::after {
    top: 20px;
}

.navbar-toggler:not(.collapsed)::before {
    transform: rotate(45deg);
    top: 10px;
}

.navbar-toggler:not(.collapsed)::after {
    transform: rotate(-45deg);
    top: 10px;
}

.navbar-toggler:not(.collapsed) span {
    opacity: 0;
}

.mega-dropdown:hover .mega-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.mega-menu {
    position: absolute;
    left: 2%;
    top: 72px;
    width: 96%;
    background-color: #111111!important;
    padding: 4rem 3rem!important;
    z-index: 9999;

    @media screen and (max-width: 768px){
        padding: 1rem!important;
    }
}

/*.mega-dropdown.open .mega-menu {*/
/*    display: block;*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*}*/

.mega-menu .row {
    display: flex;
    gap: 2rem;
}

.mega-menu .dropdown-item {
    display: block;
    color: white;
    padding: 1rem 0;
    font-size: 0.95rem;
    text-decoration: none;
    font-weight: 400;
    @media screen and (max-width: 768px){
        font-size: 1.2rem!important;
    }

    &::after{
        content: none!important;
    }

    &:hover,
    &:focus,
    &:active {
        color: #FFA500;
        background: transparent;
    }
}



.last-link{
    color: #FB8B01!important;

    &:hover{
        color: #2DA549!important;
    }
}


.nav-link:focus{
    color: #2DA549!important;
}