ul li {
    margin-left: 25px;
    font-size: 1.2em;
}

ul li:last-child a {
    color: rgba(248, 149, 32, 1);

    &:hover {
        color: rgba(248, 149, 32, 1);
    }
}


.navbarLinks::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 95%;
    background: linear-gradient(135deg, #F89520, #2DA549);
}

.navbarLinks ul li a {
    position: relative;
    color: white;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        left: 10%;
        bottom: -3px;
        width: 0%;
        height: 2px;
        background-image: linear-gradient(90deg, #FB8B01, #76FFA9);
        transition: width 0.4s ease;
    }

    &:hover::after {
        width: 80%;
    }
}