.page-header {
    margin-top: 90px;
    margin-bottom: 60px;

    & h1{
        font-size: 3.5rem;
    }
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">"!important;
    color: #fff!important;
}
