.schedule {
    & h2{
        font-size: 3rem;
    }
    & table {
        & tr th {
            padding: 30px;
            font-size: 1.6rem;
        }

        & tr td {
            padding: 30px 30px 80px 30px;
            font-size: 1.3rem;

            &:not(:first-child):nth-child(even) {
                color: green;
            }

            &:not(:first-child):nth-child(odd) {
                color: orange;
            }

            & span {
                display: block;
                color: white;
                margin-top: 5px;
                font-size: 1.1rem;
            }

        }

        & tr:last-of-type td {
            padding-bottom: 50px;
        }
        & tr:last-of-type{
            border: none #4d5154;
        }


    }

}
